<html>
  <head>

  </head>
  <body>
      <aside class="right-side">
          <!-- Content Header (Page header) -->
          <section class="content-header">
              <h1>
                  Stations
                  <small> Page</small>
              </h1>
              <ol class="breadcrumb">
                  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                  <li class="active">Stations</li>


              </ol>
          </section>

            <!-- Main content -->
        <section class="content">
            <div class="row">
                <form action="index.php/Stations/insertStationInformation/" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div id="output"></div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"> Station Name</span>
                                    <select name="namestation" id="namestation" onkeyup="allowCharactersInputOnly(this)"  required class="form-control"  placeholder="Enter Station name" >
                                        <option value="">--Select Station Name--</option>

                                                <option value=""></option>


                                      </select>
                                        <input type="hidden" name="checkduplicateEntryOnAddNewStationInformation_hiddentextfield" id="checkduplicateEntryOnAddNewStationInformation_hiddentextfield">

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Station Number</span>
                                    <input type="text" name="numberstation" id="numberstation" value="" readonly class="form-control" onkeyup="allowIntegerInputOnly(this)" required class="form-control" required placeholder="Enter station number" >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Station Registration Number</span>
                                    <input type="text" name="registrationnumberstation" id="registrationnumberstation" value="" onkeyup="allowIntegerInputOnly(this)"  class="form-control"  placeholder="Enter the Station Registration Number" >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Location</span>
                                    <input type="text" name="locationstation" id="locationstation" value=""  readonly class="form-control" onkeyup="allowCharactersInputOnly(this)"  class="form-control"  placeholder="Enter Station Location">

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Indicator</span>
                                    <input type="text" name="indicatorstation" id="indicatorstation" value="" readonly class="form-control" onkeyup="allowIntegerInputOnly(this)"   class="form-control"   placeholder="Enter Station Indicator">
                                </div>
                            </div>





                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Region</span>
                                    <select name="regionstation" id="regionstation" onkeyup="allowCharactersInputOnly(this)"  class="form-control">
                                        <option value="">--Select REGION--</option>
                                        <option value="Central">Central</option>
                                        <option value="Northern">Northern</option>
                                        <option value="Southern">Southern</option>
                                        <option value="Eastern">Eastern</option>
                                        <option value="Western">Western</option>

                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Country</span>
                                    <input type="text" name="countrystation" id="countrystation" onkeyup="allowCharactersInputOnly(this)" value="" readonly class="form-control"  class="form-control"  placeholder="Enter country" >
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Latitude</span>
                                    <input type="text" name="latitudestation" id="latitudestation"   class="form-control"  placeholder="Enter latitude " >
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6">





                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Longitude</span>
                                    <input type="text" name="longitudestation" id="longitudestation"    class="form-control"  placeholder="Enter longitude" >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Altitude</span>
                                    <input type="text" name="altitudestation" id="altitudestation" onkeyup="allowIntegerInputOnly(this)"  class="form-control"  placeholder="Enter altitude" >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Opened</span>
                                    <input type="text" name="openedstation" id="date"  class="form-control"  placeholder="Enter opened date" >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Closed</span>
                                    <input type="text" name="closedstation" id="expdate"  class="form-control"  placeholder="Enter closed" >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Status Of Station</span>
                                    <select name="statusstation" id="statusstation" onkeyup="allowCharactersInputOnly(this)"  class="form-control"   placeholder="Enter Status" >
                                        <option value="">--Select Status Of Station--</option>
                                        <option value="on">Active</option>
                                        <option value="off">InActive</option>


                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Type Of Station</span>
                                    <select name="typestation" id="typestation" onkeyup="allowCharactersInputOnly(this)" required class="form-control"  placeholder="Enter type" >
                                        <option value="">--Select Type Of Station--</option>
                                        <option value="Synoptic">Synoptic</option>
                                        <option value="Agrometeorological">Agrometeorological</option>
                                        <option value="Rainfall">Rainfall</option>
                                        <option value="Hydrometeorological">Hydrometeorological</option>
                                        <option value="Climatological">Climatological</option>



                                    </select>
                                </div>
                            </div>


                        </div>
                      <div class="clearfix"></div>
                    </div>

                      <!-- <centre>

                        <a href="index.php/Stations/" class="btn btn-danger"><i class="fa fa-arrow-left"></i> BACK</a>

                        <button type="submit" id="post_stationInformation" name="post_stationInformation" class="btn btn-primary"><i class="fa fa-plus"></i> SUBMIT </button>
                      </centre> -->

                      <a href="index.php/Stations/" class="btn btn-danger"><i class="fa fa-arrow-left"></i> BACK</a>
                      <button type="submit" id="post_stationInformation" name="post_stationInformation" class="btn btn-primary"><i class="fa fa-plus"></i> SUBMIT </button>

                </form>
            </div>

            <div class="row">
                <form action="index.php/Stations/updateStationInformation" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div id="output"></div>
                        <div class="col-lg-6">


                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Station Name</span>
                                    <input type="text" name="station_name"  id="station_name" required class="form-control" value=""   class="form-control"  >

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"> Station Number</span>
                                    <input type="text" name="stationNo" required class="form-control" id="stationNo" value=""  class="form-control"  >
                                    <input type="hidden" name="id" id="id" value="">
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Station Registration Number</span>
                                    <input type="text" name="stationRegNo" id="stationRegNo" value=""   class="form-control" onkeyup="allowIntegerInputOnly(this)"  class="form-control"  placeholder="Enter the Station Registration Number" >
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"> Station Location</span>
                                    <input type="text" name="stationlocation" id="stationlocation"  value=""  class="form-control" onkeyup="allowCharactersInputOnly(this)" required class="form-control" required placeholder="Enter the Station Location">

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"> Station Indicator</span>
                                    <input type="text" name="stationindicator" id="stationindicator" value=""  class="form-control" onkeyup="allowIntegerInputOnly(this)"  class="form-control"  placeholder="Enter the Station Indicator">
                                </div>
                            </div>




                               <div class="form-group">
                                   <div class="input-group">
                                       <span class="input-group-addon">Station Region</span>
                                        <select name="stationregion" id="stationregion" onkeyup="allowCharactersInputOnly(this)" required class="form-control">
                                         <option value=""></option>
                                         <option value="">--Select REGION--</option>
                                         <option value="Central">Central</option>
                                         <option value="Northern">Northern</option>
                                         <option value="Southern">Southern</option>
                                         <option value="Eastern">Eastern</option>
                                         <option value="Western">Western</option>

                                     </select>

                                   </div>
                               </div>





                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Country</span>
                                    <input type="text" name="stationcountry" id="stationcountry"  class="form-control" onkeyup="allowCharactersInputOnly(this)"  required class="form-control" required value="" placeholder="Enter country" >
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Latitude</span>
                                    <input type="text" name="stationlatitude" id="stationlatitude"  required class="form-control" required value="" required placeholder="Enter latitude " >
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Longitude</span>
                                    <input type="text" name="stationlongitude" id="stationlongitude"  required class="form-control" required value="" required placeholder="Enter longitude" >
                                </div>
                            </div>
							 <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Height(meters)</span>
                                    <input type="text" name="height" id="height" onkeyup="allowIntegerInputOnly(this)" class="form-control" value=""  placeholder="Enter height" >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Ft A.M.S.L (Altitude)</span>
                                    <input type="text" name="stationaltitude" id="stationaltitude" onkeyup="allowIntegerInputOnly(this)"  required class="form-control" required value="" required placeholder="Enter altitude" >
                                </div>
                            </div>

                             <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Status Of Station</span>
                                <select name="statusstation" id="statusstation" onchange="Disabled()" onkeyup="allowCharactersInputOnly(this)"  class="form-control"   placeholder="Enter Status" >
                                    <option value="">--Select Status Of Station--</option>
                                    <option value="on">Active</option>
                                    <option value="off">InActive</option>


                                </select>
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Opened Date</span>
                                    <input type="text" name="stationopened" id="opened" required class="form-control" required value="" required placeholder="Enter opened" >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Closed Date</span>
                                    <input type="text" name="stationclosed" id="closed" required class="form-control" required value=""  required placeholder="Enter closed" >
                                </div>
                            </div>
                            <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Type Of Station</span>
                                <select name="typestation" id="typestation" onkeyup="allowCharactersInputOnly(this)" required class="form-control"  placeholder="Enter type" >
                                    <option value="">--Select Type Of Station--</option>
                                    <option value="Synoptic">Synoptic</option>
                                    <option value="Agrometeorological">Agrometeorological</option>
                                    <option value="Rainfall">Rainfall</option>
                                    <option value="Hydrometeorological">Hydrometeorological</option>
                                    <option value="Climatological">Climatological</option>



                                </select>
                            </div>
                        </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"> Station Status</span>
                                    <input type="text" name="stationstatus" id="stationstatus" readonly class="form-control" onkeyup="allowCharactersInputOnly(this)"  required class="form-control" required value="" placeholder="Enter country" >
                                    <!--  <select name="stationstatus" id="stationstatus" onkeyup="allowCharactersInputOnly(this)" required class="form-control"   required placeholder="Enter Status" >
                                          <option value=""></option>
                                          <option value="">--Select Status--</option>
                                          <option value="on">Active</option>
                                          <option value="off">InActive</option>


                                      </select>  -->
                                </div>
                            </div>




                               <div class="form-group">
                                   <div class="input-group">
                                       <span class="input-group-addon">Station Type</span>
                                       <input type="text" name="stationtype" id="stationtype" readonly class="form-control" onkeyup="allowCharactersInputOnly(this)"  required class="form-control" required value="" placeholder="Enter country" >

                                       <!--   <select name="stationtype" id="stationtype" required class="form-control" onkeyup="allowCharactersInputOnly(this)" required placeholder="Enter type" >
                                              <option value="<?php echo $stationdata->StationType;?>"><?php echo $stationdata->StationType;?></option>
                                              <option value="">--Select Type Of Station--</option>
                                              <option value="Synoptic">Synoptic</option>
                                              <option value="Agrometeorological">Agrometeorological</option>
                                              <option value="Rainfall">Rainfall</option>
                                              <option value="Hydrometeorological">Hydrometeorological</option>
                                              <option value="Climatological">Climatological</option>



                                          </select>  -->
                                   </div>
                               </div>


                               <div class="form-group">
                                   <div class="input-group">
                                       <span class="input-group-addon"> Station Status</span>
                                         <select name="stationstatus" id="stationstatus" onkeyup="allowCharactersInputOnly(this)" required class="form-control"   required placeholder="Enter Status" >
                                        <option value=""></option>
                                        <option value="">--Select Status--</option>
                                        <option value="Active">Active</option>
                                        <option value="InActive">InActive</option>


                                    </select>
                                   </div>
                               </div>




                               <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Station Type</span>
                                    <select name="stationtype" id="stationtype" required class="form-control" onkeyup="allowCharactersInputOnly(this)" required placeholder="Enter type" >
                                        <option value=""></option>
                                        <option value="">--Select Type Of Station--</option>
                                        <option value="Synoptic">Synoptic</option>
                                        <option value="Agrometeorological">Agrometeorological</option>
                                        <option value="Rainfall">Rainfall</option>
                                        <option value="Hydrometeorological">Hydrometeorological</option>
                                        <option value="Climatological">Climatological</option>


                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                  <span class="input-group-addon">Station Type</span>
                                  <input type="text" name="stationtype" id="stationtype" readonly class="form-control" onkeyup="allowCharactersInputOnly(this)"  required class="form-control" required value="" placeholder="Enter country" >

                              </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"> Station Status</span>
                                  <select name="stationstatus" id="stationstatus" onkeyup="allowCharactersInputOnly(this)" required class="form-control"   required placeholder="Enter Status" >
                                 <option value=""></option>
                                 <option value="">--Select Status--</option>
                                 <option value="Active">Active</option>
                                 <option value="InActive">InActive</option>


                             </select>
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon">Station Type</span>
                              <select name="stationtype" id="stationtype" required class="form-control" onkeyup="allowCharactersInputOnly(this)" required placeholder="Enter type" >
                                  <option value=""></option>
                                  <option value="">--Select Type Of Station--</option>
                                  <option value="Synoptic">Synoptic</option>
                                  <option value="Agrometeorological">Agrometeorological</option>
                                  <option value="Rainfall">Rainfall</option>
                                  <option value="Hydrometeorological">Hydrometeorological</option>
                                  <option value="Climatological">Climatological</option>



                              </select>
                          </div>
                      </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <!-- <div >

                    </div> -->



                      <a  href="index.php/Stations/" class="btn btn-danger"><i class="fa fa-arrow-left"></i> BACK</a>

                      <button type="submit" name="update_stationInformation" id="update_stationInformation" class="btn btn-primary"><i class="fa fa-plus"></i> UPDATE </button>
                </form>
            </div>
            <div class="row">
              <div class="col-xs-3"><a class="btn btn-primary no-print"
                                       href="index.php/Stations/DisplayStationsForm/">
                      <i class="fa fa-plus"></i> Add new Station</a>

              </div>

          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Stations</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body table-responsive" style="overflow:auto;">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Station Name</th>
                                <th>Station Number</th>
                                <th>Station Reg No</th>
                                <th>Location</th>
                                <th>Indicator </th>

                                <th>Region</th>
                                <th>Country</th>

                                <th>Height</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Altitude</th>
                                 <th>Users</th>

                                    <th class="no-print">Action</th>

                            </tr>
                            </thead>
                            <tbody>

                                    <tr>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td></td>
                                        <td ></td>
                                        <td ></td>

                                        <td ></td>
                                        <td ></td>

                                        <td ></td>
                                        <td></td>
                                        <td ></td>
                                        <td ></td>
                                          <td > <a data-toggle="modal" class="modalLink" data-id="" href="" class="open-dialog"   >more info</a> </td>
                                        <td class="no-print" >
                                         <table>
										 <tr><td>
                                            <a class="btn btn-primary" href="" style="cursor:pointer;"><li class="fa fa-edit"></li>Edit</a>
                                           </td><td> <a class="btn btn-danger" href=""
                                                  onClick="return confirm('Are you sure you want to delete ');"><li class="fa fa-times"></li> Delete</a></td></tr></table> </td>
                                    </tr>


                            </tbody>
                        </table>


												<br><br>
                        <button onClick="print();" class="btn btn-primary no-print"><i class="fa fa-print"></i> PRINT </button>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>

        </section>

        </aside>
        <div  id="user1" class="modal" role="dialog"  aria-labelledby="myModalLabel"  tabindex="-1" style="z-index: 9000;" data-backdrop = "false" >

          <!-- Modal content-->
          <div class="modal-content">

            <div class="modal-header">
            <button type="button"  class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"style="align:center;">Station Users</h4>
            <br/>
            </div>
            <div class="modal-body"id="modal-body">

            </div>
            <div class="modal-footer">
            <button style="color:white;float:right;" type="button" id="closex" class="btn btn-primary" data-dismiss="modal" ><li class="glyphicon glyphicon-remove"></li> &nbsp; Close</button>
             </div>
          </div>

          </div>


  </body>

  </html>
