.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
        .report-table{
            width:100%;
        }

        .bootstrap-datetimepicker-widget {
            top: 220px;
            left: 350px;
        }

        .report-table td{
            border:1px solid;
            padding:5px;
        }

        .report-table td.no-border{
            border:none !important;
        }

        .report-table td.main{
            font-weight:bold;
        }

        .report span.dotted-line{
            border-bottom:1px dashed;
            padding:0 50px;
        }