  <div class="container">

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 col-md-offset-3" id="login">
            <h1 class="text-center text-primary">Login </h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">Username:</label>
                <input type="text" class="form-control" formControlName="username" name="username"  id="username">
                <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
                  <div *ngIf="loginForm.controls.username.errors.required" class="text-danger">Username is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" formControlName="password" id="password" name="password" >
                <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
                  <div *ngIf="loginForm.controls.password.errors.required" class="text-danger">Password is required</div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-success">Login</button>
                
                <div *ngIf="invalidLogin" class="error" class="text-danger">
                  <div><p>Invalid credentials.</p></div>
                </div>

              </div>
            </form>
          </div>
        </div>

  </div>
