
  <a routerLink="">Home</a>

  <div class="col-md-12 col-sm-12 col-xm-12">
  <h2> User Details</h2>
  <p><button class="btn btn-info" (click)="addUser()"> Add User</button> <br /></p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Pasword</th>
      <th>Date created</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <!-- <td class="hidden"></td> -->
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
      <td>{{user.when_added}}</td>
      <td>
      <a class="btn" (click)="showForEdit(employee)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="onDelete(employee.EmployeeID)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
      <td><button class="btn btn-sm btn-danger" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-sm  btn-info" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
