<h4>Content from Server</h4>
<div *ngIf="userInfo">
  <p>Name: <strong>{{userInfo.name}}</strong></p>
  <p>Email: <strong>{{userInfo.email}}</strong></p>

</div>
{{board}}
{{errorMessage}}




    <div class="col-md-12 col-sm-12 col-xm-12">
    <h2 class="jumbotron text-center text-primary">WDR Registered users</h2>
    <p>
      <a routerLink="/main-nav" class="btn btn-default fa fa-home"> Home</a>
      <a class="btn btn-default fa fa-pencil" routerLink="/register-users"> Add user </a> <br />
    </p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>User Id</th>
        <th>Station</th>
        <th>First Name</th>
        <th>Surname </th>
        <th>Username</th>
        <th>User role</th>
        <th>User email</th>
        <th>User Phone</th>
        <th>Status</th>
        <th>Last loggedin</th>
        <th>CreatedBy</th>
        <th></th>
        <th></th>


      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.Userid}}</td>
        <td>{{user.station}}</td>
        <td>{{user.FirstName}}</td>
        <td>{{user.SurName}}</td>
        <td>{{user.UserName}}</td>
        <td>{{user.UserRole}}</td>
        <td>{{user.UserEmail}}</td>
        <td>{{user.UserPhone}}</td>
        <th></th>
        <th>{{user.LastLoggedIn}}</th>
        <td>{{user.CreatedBy}}</td>
        <td>
      </td>
        <td><button class="btn btn-secondary" (click)="deleactivateUser(user)"><i class="fa fa-lock"></i>  Deactivate</button></td><td>
          <button class="btn   btn-info" (click)="editUser(user)" style="margin-left: 20px;"><i class="fa fa-pencil-square-o"></i> Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>
